/* Background pattern from subtlepatterns.com */



@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}



@import url(http://fonts.googleapis.com/css?family='Playfair Display');
@import 'https://fonts.googleapis.com/css?family=Playfair+Display';
@import 'https://fonts.googleapis.com/css?family=Anton|Oxygen';


@media only screen and (max-width: 768px){
  .post-container{
    padding: 5% 0 0 0 !important;
  }

@media only screen and (max-width: 650px){
  .post-img{
    height:300px !important;
    padding:0;

  }

  .post_title{
    font-size: 16px;
  }

  .subheading{
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 360px) {

  -img{
    height: 150px !important;
    padding:50px !important;
  }

  .container-fluid{
  padding: 0 !important;
  }
  .post_title{
    font-size: 14px !important;
  }
  .subheading{
    font-size:12px !important;
  }
  .meta{
    font-size: 14px !important;
  }
  .highlight-tag{
    display:none !important;
  }
}



  .about-us .col-md-7{
    padding:0 !important;
  }

  .about-us .col-md-5{
    padding: 0 !important;
  }
  .small-xs-screens{
    display: inline-block !important;
  }



  .large-medium-screens{
    display: none;
  }

  .small-screen-img{
    width:60%;
  }
}



@media only screen and (min-width: 1170px){
body{
  width: 1080px;
  margin: 0 auto !important;
}

}

@media only screen and (min-width:2000px){
  body{
    width:1768px;
    margin: 0 auto !important;
  }
}



@media only screen and (max-width: 1200px) {
  .highlight{
    width: 100% !important;
  }
}





@media only screen and (max-width: 340px) {
  .div_content{
  font-size: 20px;
  }
}

@media only screen and (min-width:1200px){
  .site_name{
    font-size: 25px;
  }
}

.small-xs-screens{
  display: none;
}


html, body{
  	height: 100%;

}

html{
  margin:0;
  padding: 0;
}

.container{
  width: inherit !important;
  padding: 0;
}

body{

margin:0 auto;
padding:0;
font-size: 20px;
font-family: helvetica, 'Times New Roman', serif;
}


iframe, object, embed {
max-width: 100%;
}

.container-fluid{

  background-color: #fff;
  padding-bottom:80px;

}


.video_wrap{
  text-align: center;
}
.row{
  width: inherit;
  padding: 0;
  margin: 0;
}

i:hover{
  color:#ff475b;
}


header{
  margin: 0 auto 10px 0;
  text-align: center;

}

nav{
padding-top:20px;
padding-bottom: 20px;


}

nav img{
  margin: 0 auto;



}

.nav{

  padding:0;

  list-style-type: none;

}
.nav > li{
  display: inline-block;


}





.nav a{
  text-decoration: none;
  padding: 5px;
  margin-bottom: 1%;

  text-transform: uppercase;
  font-size: 14px;
  color: #1f1f1f;
 font-family: helvetica;

  font-weight: 300;
  letter-spacing: 1px;


}

.nav a:hover{
  background-color: #fff !important;
  color: #666 !important;
}

ul{
  padding:0;
  margin:0;
  list-style-type: none;
}

/*editor-pick*/
@media only screen and (max-width: 350px ){
  .content h2{
    left:10% !important;
  }

}

@media only screen and (min-width:350px){
  .amazon_ads{
    height:350px;
  }
}

@media only screen and (max-width: )

.editor-pick-rule{
  width:100% !important;
}


.title{
  color: #333;
  width: 100%;
  font-family:helvetica;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.content {
  position: relative;

  margin: 0 auto 30px auto;

  background-position: center center;
  height:250px;
  overflow: hidden;
}

.content h2{
  position: absolute;
  z-index: 100;
  top:100px;
  left:30%;
  color:#fff;
  font-family:'Oswold';

}

.content h3{
  width: 100%;

  text-align:center;
}



.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;

  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover h2{
  display: none;

}

.highlight-tag{
  display: none;
}
.content:hover .highlight-tag{
  display: block;
}
.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  max-width: 100%;
  position: absolute;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content img{
  height: 400px;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

/*end editor-pick*/






.post-container > p {
    line-height: 1.5;
    margin: 30px 0;
  }

.wrapper{
  margin:0;
  padding:0;
  margin-top: 2%;
  width: 100%;
  /*background-color: #f4f4f2;*/

  padding-top: 5px;
  font-size: 20px;
}

.content-container{
  width: inherit;
  padding:0;
}

.audio_wrap{
  max-width:600px;
  margin: 100px auto;
}
.main{
  padding:0 5%;
  margin: 0 auto;
}

.post{
  padding: 0;
  margin: 0 0 20px 0;

}

.post-container{

  font-family: helvetica, 'Times New Roman', serif;
  font-size: 20px;
  margin: 0 auto;
  padding: 30px 0 0 0;

  color: #404040;


}


.post-img{
  font-family: 'Playfair Display', ''Playfair Display'', Arial, 'libra sans', sans-serif;
font-size: 16px;
font-weight: 300;
color:#fff;
background-position: center;
  background-size: cover;
  height:500px ;
  width:100%;
  margin:0;
  background-repeat: no-repeat;
  padding-top: 150px;


}


.index-heading{

  font-family: 'Oxygen';
  text-transform: uppercase;
}






.subheading {
  font-size:18px;
margin: 0 auto;
height: 20
  font-size: 18px;
  font-weight: lighter;
  font-style:italic;
}

blockquote{
color: #808080;
font-style: italic;
margin-left: 3%;
}


.category-heading{
  padding: 10px 5px;
  color: #fff;
}
.content-category{
  font-size: 20px;
  font-family: ''Playfair Display'';
}

.page-category{
  font-size: 30px;
  font-family: ''Playfair Display'';
  color:#ff475b;
}

.col-md-4, col-sm-6{
  padding:0;
  margin:0;
}

.sticky-tag{
  top: 177px;
  position:absolute;

}

.high-tag{
  bottom:0;
  position:absolute;
}




section{
  font-family: ''Playfair Display'';
margin: 30px 0 30px 0;
}
section h1{
  width: 100%;
}
section h3{
  width: 100%;
}

.contact a{
  font-family:"Lota";
}


.sign{
  height: 350px;
  width:100%;
  padding-top: 50px;
  border-radius:2%;
}

.div_link .col-md-4{
	padding: 0 10px !important;
}

.highlight{
  font-family: ''Playfair Display'', Arial, 'libra sans', sans-serif;
font-size: 16px;
font-weight: 300;
color:#fff;
height: 200px;
width: 100%;

background-position: left;
background-size: cover;

}

.post-excerpt{
  height:140px;
  overflow: hidden;
}

.post_meta_info{

  color: #808080;
  font-style: italic;
}

.post_meta_info a{
  color:#ff475b;
  font-size:14px;
}

.col-md-4, .col-sm-6{
  padding:0 10px;
}


.music-reviews-highlight{
  font-family: ''Playfair Display'', Arial, 'libra sans', sans-serif;
font-size: 16px;
font-weight: 300;
color:#fff;
height: 200px;
width: 100%;
margin-bottom:10px;
/*padding: 0 15%;*/
background-position: center center;
background-size: cover;

}

.disqus_comments{
  margin: 50px 0 50px 0;
  padding: 0 30px;
}



.post-container h1{
  width: 100%;
}


.author{
  color: #ff475b;
}
h1, h3{
  width:25%;

}


.post-text{
  margin: 50px 0 20px 0;

}

.post-text p{
  line-height: 1.825em;

  font-weight: 400;
  margin: 0 0 1em 0;


}

::-webkit-selection { background-color: #ff475b; }
::-moz-selection { background-color: #ff475b; }
::-ms-selection { background-color: #ff475b; }

.post-text::selection{
  background-color: #ff475b !important;
}

.post-text a{
  color: #ff475b;
  font-size: 16px;
}

.highlight-heading{
  font-family:''Playfair Display'';
  font-size: 20px;
  width: 25%;
  text-align: center;
  color: #000;

}
.div_content{
  text-align:center !important;
  line-height: normal;
  width: inherit;
  margin: 0 auto;
  text-transform: capitalize;
  font-size:20px;
  text-decoration: none !important;
  font-weight: bold;
padding-top: 20%;
}

.div_content:hover{
  text-decoration: none !important;
}

.music-reviews{

  width: 100%;
}

.div_link{
  text-decoration: none !important;
  color: #fff;
}

.div_link :hover{
  text-decoration: none !important;
  opacity: 0.7;

}

.div_link :focus{
text-decoration:none !important;
}
.contact{


  text-align: center;
}


.contact li{
	padding:0.5%;
	display: inline-block;
}

.contact i{
  color: #333333;
}



footer{

	color:#fff;
	padding:0;


  margin-top:10%;
  margin-bottom:30px;

}

footer ul{
	padding:0;
	margin:0;
}



footer i:hover{
  color:#e20024;
}

footer .copyright i:hover{
  cursor:pointer;
  color:#ff475b !important;
}

footer .copyright{

color: #333333;
text-align: center;
font-weight:lighter;
font-size:10px;
font-family: helvetica;
margin:0 10px;

}

.about-us{
  width: inherit;
  padding:40px 0 50px 0;
  font-size: 16px;
}

.about-us .col-md-12{
  padding:0;
}

.about-us h2{
  color:#ff475b;
  font-size:20px;
  text-transform: uppercase;
}



.about-us h4{
  color:#ff475b;
  margin-top: 20px;
  font-family: 'Helvetica Nueu';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}



.writer_image{
  width:100px;
  height:100px;
  opacity:0.7;

}

.writer_image:hover{
  opacity: 1;
  cursor: pointer;

}

.writer{
  margin:20px 0;
}

.team_container .row{
  margin: 40px 0;
}


.bio_wrapper{
  margin: 100px 0 0 0;
    font-size:16px;
}

.bio_wrapper a{
  color: #333;
}

.bio{
  color: #333;
  font-style: italic;
  font-weight: lighter;
  font-size:16px;
}

.bio a {
  color: #ff475b;

}

blockquote{
  border-left: 5px solid #ff475b !important;

}

/*Spinner*/
.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;

  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
