@import url(http://fonts.googleapis.com/css?family=Ubuntu);

@media only screen and (max-width: 768px){
  .post-container{
    padding: 5% 0 0 0 !important;
  }



  .about-us .col-md-7{
    padding:0 !important;
  }

  .about-us .col-md-5{
    padding: 0 !important;
  }
}



@media only screen and (min-width: 1000px){
body{
  width: 960px;
  margin: 0 auto !important;
}

}



@media only screen and (max-width: 1200px) {
  .highlight{
    width: 100% !important;
  }
}





@media only screen and (max-width: 340px) {
  .div_content{
  font-size: 20px;
  }
}

@media only screen and (min-width:1200px){
  .site_name{
    font-size: 25px;
  }
}


html, body{
  	height: 100%;

}

html{
  margin:0;
  padding: 0;
}

.container{
  width: inherit !important;
  padding: 0;
}

body{

margin:0 auto;
padding:0;

font-size: 20px;
font-family: 'Lora', 'Times New Roman', serif;
}

.container-fluid{


  background-color: #fff;
  padding-bottom:80px;

}
.row{
  width: inherit;
  padding: 0;
  margin: 0;
}

i:hover{
  color:#ff475b;
}
header{
  margin: 0 auto;
  text-align: center;
}

nav{
padding-top:20px;
padding-bottom: 20px;


}

nav img{
  margin: 0 auto;


}

.nav{

  padding:0;

  list-style-type: none;

}
.nav > li{
  display: inline-block;


}





.nav a{
  text-decoration: none;
  padding: 5px;
  margin-bottom: 1%;

  text-transform: uppercase;
  font-size: 12px;
  color: #ff475b;
  font-weight: 800;
  letter-spacing: 1px;


}

.nav a:hover{
  background-color: #1f1f1f !important;
  color: #fff !important;
}
ul{
  padding:0;
  margin:0;
  list-style-type: none;
}







.post-container > p {
    line-height: 1.5;
    margin: 30px 0;
  }

.wrapper{
  margin:0;
  padding:0;
  margin-top: 2%;
  width: 100%;
  font-size: 20px;
}

.content-container{
  width: inherit;
  padding:0;
}
.main{
  padding:0 5%;
  margin: 0 auto;
}

.post{
  padding: 0;
  margin: 0;

}

.post-container{

  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  margin: 0 auto;
  padding: 30px 0 0 0;

  color: #404040;


}


.post-img{
  font-family: Ubuntu, Arial, 'libra sans', sans-serif;
font-size: 16px;
font-weight: 300;
color:#fff;
background-position: center;
  background-size: cover;
  height:500px ;
  width:100%;
  margin:0;
  background-repeat: no-repeat;
  padding-top: 150px;


}









.subheading {
  font-size:18px;
margin: 0 auto;
height: 20
  font-size: 18px;
  font-weight: lighter;
  font-style:italic;
}

blockquote{
color: #808080;
font-style: italic;
margin-left: 3%;
}


hr{
  width: 30%;
  margin-left: 0;
}

.category-heading{
  padding: 10px 5px;
  color: #fff;
}
.content-category{
  font-size: 20px;
  font-family: 'Ubuntu';
}

.page-category{
  font-size: 30px;
  font-family: 'Ubuntu';
  color:#ff475b;
}

.col-md-4, col-sm-6{
  padding:0;
  margin:0;
}

section{
  font-family: 'Ubuntu';
margin: 30px 0 30px 0;
}
section h1{
  width: 100%;
}
section h3{
  width: 100%;
}

.contact a{
  font-family:"Lota";
}


.sign{
  height: 350px;
  width:100%;
  padding-top: 50px;
  border-radius:2%;
}

.highlight{
  font-family: 'Ubuntu', Arial, 'libra sans', sans-serif;
font-size: 16px;
font-weight: 300;
color:#fff;
height: 200px;
width: 100%;

background-position: left;
background-size: cover;
}

.music-reviews-highlight{
  font-family: 'Ubuntu', Arial, 'libra sans', sans-serif;
font-size: 16px;
font-weight: 300;
color:#fff;
height: 200px;
width: 100%;
/*padding: 0 15%;*/
background-position: center center;
background-size: cover;

}



.post-container h1{
  width: 100%;
}
.meta{
  font-style: italic;
}
h1, h3{
  width:25%;

}


.post-text{
  margin: 50px 0 20px 0;
}
.highlight-heading{
  font-family:'Ubuntu';
  font-size: 20px;
  width: 25%;
  text-align: center;
  color: #000;

}
.div_content{
  text-align:center !important;
  line-height: normal;
  width: inherit;
  margin: 0 auto;
  text-transform: capitalize;
  font-size:20px;
  text-decoration: none !important;
  font-weight: bold;
padding-top: 20%;
}

.div_content:hover{
  text-decoration: none !important;
}

.music-reviews{

  width: 100%;
}

.div_link{
  text-decoration: none !important;
  color: #fff;
}

.div_link :hover{
  text-decoration: none !important;
  opacity: 0.7;

}

.div_link :focus{
text-decoration:none !important;
}
.contact{


  text-align: center;
}


.contact li{
	padding:0.5%;
	display: inline-block;
}

.contact i{
  color: #333333;
}



footer{

	color:#fff;
	padding:0;


  margin-top:10%;

}

footer ul{
	padding:0;
	margin:0;
}



footer i:hover{
  color:#e20024;
}

footer .copyright{

color: #333333;
text-align: center;
	font-weight:lighter;
	font-size:10px;

	margin:0 10px;

}

.about-us{
  width: inherit;
  padding:40px 0 50px 0;
  font-size: 16px;
}

.about-us .col-md-12{
  padding:0;
}

.about-us h2{
  color:#ff475b;
  font-size:20px;
  text-transform: uppercase;
}

.about-us h4{
  color:#ff475b;
  margin-top: 20px;
  font-family: 'Helvetica Nueu';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}



.writer_image{
  width:100px;
  height:100px;

}

.writer_image:hover{
  opacity: 0.7;
  cursor: pointer;
  
}

.writer{
  margin:20px 0;
}

.team_container .row{
  margin: 40px 0;
}
