---
layout: default
---

<h1 class="page-category">
  Film Reviews
</h1>
<hr>

<div class="row">
  <div class="container">
{% for post in site.posts %}
{% if {{post.tag}} contains "film" %}
<div class = " col-md-4 col-sm-6 post">

<a class= "div_link" href="{{ post.url | prepend: site.github.url }}">
         <div class="music-reviews-highlight" style="background-image: url('{{site.github.url}}/img/{{post.image}}')">

  <h1 class="div_content">{{post.title}}</h1>
          <p class="text-center">{{post.meta}}</p>


    </div>



</a>
<div class="post-excerpt" style="margin-bottom:30px;"><span class="post_meta_info">{{post.excerpt}}</span></div>
</div>

  {% endif %}
  {% endfor %}
</div>
</div>
