---
layout: default
description: MellowViews is a creative site, exploring Art and Culture.
image: circles.jpeg
title: Mellow Views
---

{% include editor-pick.html %}
<div class="wrapper">



<!-- section -->

<section>

<div class = "row">
  <div class = "container">
<h2>Top Posts</h2>
  {% for post in paginator.posts %}

  <div class = " col-md-4 col-sm-6 post">


  <a class= "div_link"  href="{{ post.url | prepend: site.github.url }}">

        <div class="highlight" style="background-image: url('{{site.github.url}}/img/{{post.image}}')">
<h1 class="div_content">{{post.title}}</h1>
{% if {{post.tag}} contains "music" %}{% include music.html %}{% endif %}
{% if {{post.tag}} contains "literature" %}{% include lit.html %}{% endif %}
{% if {{post.tag}} contains "film" %}{% include film.html %}{% endif %}
{% if {{post.tag}} contains "poetry" %}{% include poetry.html %}{% endif %}
{% if {{post.tag}} contains "discover" %}{% include discover.html %}{% endif %}
{% if {{post.tag}} contains "conversations" %}{% include conversations.html %}{% endif %}


</div>
</a>

<div class="post-excerpt" style="margin-bottom:30px;">

  <span style="font-size:12px">Posted by {% if post.author %}<span class="author">{{ post.author }}</span>{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</span>
    <br/>
    <i class="fa fa-clock-o"></i>
  <span style="font-weight:bold; font-size:14px">
    {% assign words = post.content | number_of_words %}
    {% if words < 360 %}
      1 min
    {% else %}
      {{ words | divided_by: 180}} mins
  {% endif %} read
  </span>
  <span class="post_meta_info">{{post.excerpt}}</span>

</div>
<hr>






  </div>







  {% endfor %}





</div>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.github.url }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.github.url }}">{{ page }}</a>
    {% else %}
      <a href="{{ paginator.next_page_path | prepend: site.github.url }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.github.url}}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}




</section>

<!-- end of section  -->


</div>
