---
layout: default

---

{% include editor-pick.html %}
<div class="wrapper">



<!-- section -->

<section>

<div class = "row">
  <div class = "container">

  {% for post in site.posts limit: 12 %}
  <a class= "div_link"  href="{{ post.url | prepend: site.github.url }}">
  <div class = "col-md-4 col-sm-6 post">




        <div class="highlight" style="background-image: url('{{site.github.url}}/img/{{post.image}}')">
<h1 class="div_content">{{post.title}}</h1>
{% if {{post.tag}} contains "music" %}{% include music.html %}{% endif %}
{% if {{post.tag}} contains "literature" %}{% include lit.html %}{% endif %}
{% if {{post.tag}} contains "film" %}{% include film.html %}{% endif %}
{% if {{post.tag}} contains "poetry" %}{% include poetry.html %}{% endif %}


</div>




  </div>
</a>

  {% endfor %}



</div>
</div>

</section>
<!-- end of section  -->



</div>
