---
layout: default
---

<h1 class="page-category">
  Literature
</h1>
<hr>

<div class="row">
  <div class="container">

  {% for post in site.posts %}
  {% if {{post.tag}} contains "literature" %}
<a class= "div_link" href="{{ post.url | prepend: site.github.url }}"><div class = "col-md-4 col-sm-6">


         <div class="music-reviews-highlight" style="background-image: url('{{site.github.url}}/img/{{post.image}}')">

  <h1 class="div_content">{{post.title}}</h1>
          <p>{{post.meta}}</p>


    </div>




</div>
</a>

   {% endif %}
  {% endfor %}
</div>
</div>
