---
layout: default
---


<section>

<div class = "row">
  <div class = "container">
<h2 style="color:#444; margin-bottom: 30px" class="text-center">video</h2>
  {% for post in site.posts limit: 20 %}
  {% if post.medium == "video" %}

  <div class = " col-md-4 col-sm-6 post">


  <a class= "div_link"  href="{{ post.url | prepend: site.github.url }}">

        <div class="highlight" style="background-image: url('{{site.github.url}}/img/{{post.image}}')">
<h1 class="div_content">{{post.title}}</h1>
{% if {{post.tag}} contains "music" %}{% include music.html %}{% endif %}
{% if {{post.tag}} contains "literature" %}{% include lit.html %}{% endif %}
{% if {{post.tag}} contains "opinion" %}{% include opinion.html %}{% endif %}
{% if {{post.tag}} contains "film" %}{% include film.html %}{% endif %}
{% if {{post.tag}} contains "poetry" %}{% include poetry.html %}{% endif %}
{% if {{post.tag}} contains "discover" %}{% include discover.html %}{% endif %}
{% if {{post.tag}} contains "conversations" %}{% include conversations.html %}{% endif %}


</div>
</a>

<div class="post-excerpt" style="margin-bottom:30px;">

  <span style="font-size:12px">Posted by {% if post.author %}<span class="author">{{ post.author }}</span>{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</span>
    <br/>
    <i class="fa fa-clock-o"></i>
  <span style="font-weight:bold; font-size:14px">
    {% assign words = post.content | number_of_words %}
    {% if words < 360 %}
      1 min
    {% else %}
      {{ words | divided_by: 180}} mins
  {% endif %} read
  </span><br/>

        {% if post.excerpt %}

        <span class="post_meta_info">{{post.excerpt}}</span>


        {% endif %}
</div>
<hr>






  </div>






  {% endif %}
  {% endfor %}





</div>
</div>




</section>
