<hr>
<div class="bio_wrapper row">
  <div class="col-md-2 col-sm-2 col-xs-12 text-center">
    <img style="border-radius:100%" class="writer_image" src="{{site.github.url}}/img/ben_2.jpg">
    <br/>
    <small>Ben Rutabana</small>
    <ul class="list-inline">
      <li><a href="http://twitter.com/Sheija_" target = "_blank" title= "@Sheija_"><i class="fa fa-twitter" ></i></a></li>
    </ul>
  </div>
  <div class="col-sm-8 col-md-8 col-xs-12 text-center bio">
    Ben in majoring in Finance....
  </div>
</div>
