<h3 class="title">Exploring art and culture</h3>
<hr/>
{% include search.html %}

<div class="editor-pick row">
<div class="col-md-6 col-sm-6 col-xs-12">

  <div class="content">
    {% for post in site.posts %}
    {% if post.title contains "Coloring" %}
    <a href="{{post.url}}">
      <div class="content-overlay"></div>
      <img class="content-image img-responsive" src="{{site.github.url}}/img/{{post.image}}" >
      <h2>{{post.title}}</h2>
      <span class="highlight-tag">{% include review.html %}</span>
      <div class="content-details fadeIn-right">
        <h3>Coloring Book</h3>
        <p>Chance the Rapper's third mixtape</p>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>


</div>

<div class="col-md-6 col-sm-6 col-xs-12">
<div class="content">
  {% for post in site.posts %}
  {% if post.title contains "Kanura" %}
  <a href="{{post.url}}">

    <div class="content-overlay"></div>

    <img class="content-image img-responsive" src="{{site.github.url}}/img/{{post.image}}" >

    <h2>{{post.title}}</h2>
      <span class="highlight-tag">{% include review.html %}</span>
    <div class="content-details fadeIn-left">
      <h3>Kanura</h3>
      <p>Ecclectic influence, a blend of music genres, Dave-astateur's first official
      mixtape "Kanura" is a nonchalant embodiment of wisdom.</p>

    </div>
  </a>
  {% endif %}
  {% endfor %}
</div>
</div>




<div class="col-md-12 col-sm-12 col-xs-12 amazon_ads">
    <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "mellowviews-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "On the table";
amzn_assoc_linkid = "7932076c0b2f0ee2c54c532b869f2e96";
amzn_assoc_asins = "B01HY0OG12,B00OHX7TK0,B01EQGOW8E,1616202416";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
  <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
</div>


</div>

<hr class="editor-pick-rule">


<style>
/*.container{
  padding: 2em 0;
  float: left;
  width: 50%;
}*/


/*.editor-pick{
  background-color: #333333;
  padding-top:30px;
}*/

@media only screen and (max-width: 350px ){
  .content h2{
    left:10% !important;
  }

}

@media only screen and (min-width:350px){
  .amazon_ads{
    height:350px;
  }
}

@media only screen and (max-width: )

.editor-pick-rule{
  width:100% !important;
}


.title{
  color: #333;
  width: 100%;
  font-family:'Lora';
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.content {
  position: relative;
  <!-- width: 90%; -->
  max-width: 400px;
  margin: 0 auto 30px auto;
  background-image: url('{{site.github.url}}/img/{{post.image}}');
  height:250px;
  overflow: hidden;
}

.content h2{
  position: absolute;
  z-index: 100;
  top:100px;
  left:30%;
  color:#fff;
  font-family:'Oswold';

}

.content h3{
  width: 100%;

  text-align:center;
}



.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;

  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover h2{
  display: none;

}

.highlight-tag{
  display: none;
}
.content:hover .highlight-tag{
  display: block;
}
.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;

  position: absolute;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content img{
  height: 400px;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}
</style>
