
<h3 class="title">Exploring art and culture</h3>
<hr/>
{% include search.html %}

<div class="editor-pick row">
<div class="col-md-6 col-sm-6 col-xs-12">

  <div class="content">
    {% for post in site.posts %}
    {% if post.title contains "A Boy" %}
    <a href="{{post.url}}">
      <div class="content-overlay"></div>
      <img class="content-image img-responsive" src="{{site.github.url}}/img/{{post.image}}" >
      <h2>{{post.title}}</h2>
      <span class="highlight-tag">{% include review.html %}</span>
      <div class="content-details fadeIn-right">
        <h3>A Boy from Rwanda</h3>
        <p> A documentary </p>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>


</div>

<div class="col-md-6 col-sm-6 col-xs-12">
<div class="content">
  {% for post in site.posts %}
  {% if post.title contains "Kanura" %}
  <a href="{{post.url}}">

    <div class="content-overlay"></div>

    <img class="content-image img-responsive" src="{{site.github.url}}/img/{{post.image}}" >

    <h2>{{post.title}}</h2>
      <span class="highlight-tag">{% include review.html %}</span>
    <div class="content-details fadeIn-left">
      <h3>Kanura</h3>
      <p>Ecclectic influence, a blend of music genres, Dave-astateur's first official
      mixtape "Kanura" is a nonchalant embodiment of wisdom.</p>

    </div>
  </a>
  {% endif %}
  {% endfor %}
</div>
</div>




<div class="col-md-12 col-sm-12 col-xs-12 amazon_ads">
   <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "mellowviews-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "On the table";
amzn_assoc_linkid = "391cc4fa48e09b37459cce4d026dab85";
amzn_assoc_asins = "0307455920,B0001AP12G,B00OHX7TK0,0802141323";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
</div>


</div>

<hr class="editor-pick-rule">
