<footer class="the_base">

	  <ul class= "contact">

	    <!-- <li><a href="#" title="our facebook page"><i class="fa fa-facebook" ></i></a></li> -->

	    <li><a href="http://instagram.com/mellowviews" title="@mellowviews" target="_blank"><i class="fa fa-instagram"></i></a></li>

	    <!-- <li><a href="#" title="our twitter page"><i class="fa fa-twitter"></i></a></li> -->
	  </ul>
	<p class="copyright"> Made with <i class="fa fa-heart" style="color:#1f1f1f"></i> in Rwanda</p>
	<p class="text-muted copyright">Mellow Views © Copyright 2016. All rights reserved.</p>
  <p style="padding:0 30px" class="copyright">Mellow Views participates in the Amazon Services LLC Associates Program, an affiliate advertising
		program designed to provide a means for sites to earn commissions by linking to Amazon.
		This means that whenever you buy a book, a music track, or a film on Amazon from a link on this site,
		MellowViews gets a fraction of the payment. This helps to support Mellow Views. Thank you.</p>
</footer>
