<footer class="the_base">

	  <ul class= "contact">

	    <li><a href="#" title="our facebook page"><i class="fa fa-facebook" ></i></a></li>

	    <li><a href="http://instagram.com/mellowviews" title="@mellowviews" target="_blank"><i class="fa fa-instagram"></i></a></li>

	    <li><a href="#" title="our twitter page"><i class="fa fa-twitter"></i></a></li>
	  </ul>
	<p class="copyright"> Made with <i class="fa fa-heart" style="color:red"></i> in Rwanda</p>
	<p class="text-muted copyright">Mellow Views © Copyright 2016. All rights reserved.</p>
</footer>
