<hr>
<div class="bio_wrapper row">
  <div class="col-sm-2 col-md-2 col-xs-12 text-center">
    <img style="border-radius:100%" class="writer_image" src="{{site.github.url}}/img/keza.JPG">
    <br/>
    <small>Keza Nzisabira</small>
    <ul class="list-inline">
      <li><a href="http://twitter.com/K_e_z_a_" target = "_blank" title= "@K_e_z_a_"><i class="fa fa-twitter" ></i></a></li>
    </ul>
  </div>
  <div class="col-sm-8 col-md-8 col-xs-12 text-center bio">
Keza is majoring in International Relations. She's passionate about politics, loves reading and enjoys spending quality time with her friends. She's also behind the blog <a href="http://lifeofacontemporaryafrican.wordpress.com" target="_blank">Life of a Contemporary African</a>
  </div>
</div>
