<hr>
<div class="bio_wrapper row">
  <div class="col-md-2 col-sm-2 col-xs-12 text-center">
    <img style="border-radius:100%" class="writer_image" src="{{site.github.url}}/img/mary.JPG">
    <br/>
    <small>Mary Nzaramba</small>
    <ul class="list-inline">
      <li><a href="http://instagram.com/n_marix" target="_blank" title="@n_marix"><i class="fa fa-instagram"></i></a>
      </li>
      <li><a href="http://pinterest.com/nmariay" target="_blank" title="@nmariay"><i class="fa fa-pinterest"></i></a>
      </li>
    </ul>
  </div>
  <div class="col-sm-8 col-md-8 col-xs-12 text-center bio">
Mary is majoring in International Relations. She loves writing, bible study, and, interestingly, 'cloud-watching'.
  </div>
</div>
