<hr>
<div class="bio_wrapper row">
  <div class="col-md-2 col-sm-2 col-xs-12 text-center">
    <img style="border-radius:100%" class="writer_image" src="{{site.github.url}}/img/mutsinzi.jpg">
    <br/>
    <small>Mutsinzi</small>
    <ul class="list-inline">
      <li><a href="http://twitter.com/ericMutsinzi" target = "_blank" title= "@ericMutsinzi"><i class="fa fa-twitter" ></i></a></li>
    </ul>
  </div>
  <div class="col-sm-8 col-md-8 col-xs-12 text-center bio">
    Mutsinzi is majoring in Computer Science. He likes reading, listening to music and creating.
  </div>
</div>
