<nav>
<img src ="{{site.github.url}}/img/logo.png">
  <ul class= "nav">
    <li><a href="{{site.github.url}}/index.html" class="{% if page.url contains 'index' %}current{% endif %}">Home</a></li>
    <li><a href="{{site.github.url}}/music-reviews.html" class="{% if page.url contains 'music-reviews' %}current{% endif %}">Music Reviews</a></li>
    <li><a href="{{site.github.url}}/film-reviews.html" class="{% if page.url contains 'film-reviews' %}current{% endif %}">Film Reviews</a></li>
    <li><a href="{{site.github.url}}/literature.html" class="{% if page.url contains 'literature' %}current{% endif %}">Literature</a></li>
  </ul>
</nav>
