<h1 class="site_name" style ="font-family: Ubuntu; font-weight: 800;
letter-spacing: 1px; color: #DD4814;"><a style="color: #DD4814;" href="{{site.github.url}}/index.html" >Mellow Views</a></h1>

<h3>Recently Published</h3>
<hr style="width: 50%; padding:0; margin:0">

<ol class="criteria">
<li><h5>Music Reviews</h5></li>
{% for post in site.categories.music-reviews limit:2 %}
<ul>
<li>
<a href="{{post.url | prepend: site.github.url}}">{{post.title}}</a>
</li>
</ul>

{% endfor %}

<li><h5>Film Reviews</h5></li>

{% for post in site.categories.film-reviews limit:2 %}
<ul>
<li>
<a href="{{post.url | prepend: site.github.url}}">{{post.title}}</a>
</li>
</ul>
{% endfor %}

<li><h5>Literature</h5></li>
{% for post in site.categories.literature limit:2 %}
<ul>
<li>
<a href="{{post.url | prepend: site.github.url}}">{{post.title}}</a>
</li>
</ul>

{% endfor %}
</ol>
