<div class="search">
  <form action="/search.html" method="get">
  		<!-- <label for="search_box">Search</label> -->
  		<input class="text-center" type="text" placeholder="Search" id="search_box" name="query"><i class="fa fa-search"></i></input>
  		<!-- <input type="submit" value="Search"> -->
  </form>
</div>

<style>
.search{
  text-align: center;
  margin: 40px 0px 30px 0px;
}

.search input[id="search_box"]{
  border: none;
  border-bottom: #1f1f1f solid 1px;

}

.search input[type="submit"] {
  background: none;
  border: none;
  color: #1f1f1f;

}
</style>
