---
layout: default
---

<div class="post-container">

<header class="img-responsive post-img" style="background-image: url('{{site.github.url}}/img/{{page.image}}')">
<h1 class="post_title">{{page.title}}</h1>
{% if page.subtitle %}

<h2 class="subheading"><em>{{ page.subtitle }}</em></h2>
{% endif %}
<br/>

</header>
<p style="margin: 0 !important">{% if page.image-source %}<span style="font-size:16px; font-style:italic">Image Source </span><a href="{{page.image-source}}"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
</a>{% endif %}</p>
<span class="meta">Posted by {% if page.author %}<span class="author">{{ page.author }}</span>{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
<hr>
<div class="post-text">
{{content}}
</div>
<hr>

</div>
