---
layout: default
---

<div class="post-container">

<header class="img-responsive post-img" style="background-image: url('{{site.github.url}}/img/{{page.image}}')">
<h1 class="post_title">{{page.title}}</h1>
{% if page.subtitle %}

<h2 class="subheading"><em>{{ page.subtitle }}</em></h2>
{% endif %}
<br/>

</header>

<p style="margin: 0 !important">{% if page.image-source %}<span style="font-size:14px;">Image Source </span><a style="color:#333333" href="{{page.image-source}}" target="_blank"><i style="font-size:12px" class="fa fa-arrow-right" aria-hidden="true"></i>
</a>{% endif %}</p>
{% include share.html %}
<span class="meta light small">Posted by {% if page.author %}<span class="author">{{ page.author }}</span>{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span><br/>
<i class="fa fa-clock-o"></i>
<span style="font-weight:bold; font-size:14px">{% assign words = content | number_of_words %}
{% if words < 360 %}
  1 min
{% else %}
  {{ words | divided_by: 180}} mins
{% endif %} read
</span>
<hr>
<div class="post-text">

{{content}}


</div>
<hr>

<div class="disqus_comments">
  {% if page.comments %}
  <div id="disqus_thread"></div>
<script>
// var disqus_developer = 1;
var disqus_shortname = 'mellowviews';
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*


    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//mellowviews.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}
</div>

</div>
